head {
    background-color: rgb(255, 255, 255);
  }
  
  h1 {
    margin: 5px;
    text-align: center;
    font-size: 40px;
  }
  h2 {
    margin: 5px;
    text-align: center;
  }

  h3 {
    margin: 5px;
    text-align: left;
  }

  h4 {
    margin: 5px;
    text-align: left;
  }

  #judultentang {
    margin: 1px;
    font-size: 24px;
  }

  #isitentang {
    margin: 1px;
    font-size: 16px;
  }